button {
background-color:black;
width:100px;
height:60px;
font-weight:bold;
color:white;
font-size:30px;
}
#calcWindow {
width:313px;
font-size: 30px;
}
#calculator {
width:700px;

padding:0px;
}
body {
font-family: "Lucida Console", monospace;
background-color:#7D7788;
font-weight:bold;
}